<p><%= link_to "Consoles", "/consoles"%></p>
<p><%= link_to "Games", "/games"%></p>

<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRailsNew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
